{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
    <form method='post'>
        <p><input type='text' name='login' placeholder='login' value='{{login}}'></p>
        <p><input type='text' name='email' placeholder='email' value='{{email}}'></p>
        <p><input type='text' name='password' placeholder='password' value='{{password}}'></p>
        <p><input type='text' name='confirm_password' placeholder='confirm password' value='{{confirm_password}}'></p>
        <p><input type='submit' value='Register'></p>
    </form>
{% endblock %}